@import url( "https://fonts.googleapis.com/css2?family=Recursive&display=swap" );

:root{
	--color-border: hsla( 0, 0%, 60%, 1 );
	--color-info: hsla( 230, 50%, 60%, 1 );
}

html{
	box-sizing: border-box;
	font-family: 'Recursive', sans-serif;
	font-size: 10px;
	line-height: 10px;
}

html *{
	box-sizing: inherit;
}

body{
	font-size: 1.6rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	width: 100%;
}

feedback-feedback,
feedback-authenticate{
	display: block;
}
